<div class="link-card">
  <!-- Delete button -->
  <div class="icon" *ngIf="showEditBtns" (click)="deleteLinkEmt.emit()">
    <img src="assets/close.png" alt="" />
  </div>
  <!-- Edit Button -->
  <div class="icon edit" *ngIf="showEditBtns" (click)="editLinkEmt.emit()">
    <img src="assets/edit.png" alt="" />
  </div>
  <!-- Card -->
  <div class="link-image" [style.backgroundImage]="getBkgImg(link.image)"></div>
  <div class="info">
    <h1>{{ link.title }}</h1>
    <a [href]="link.url">{{ link.url | textEllipsis: 100 }}</a>
  </div>
</div>
