.link-card {
  // TODO: media query
  width: 11.875rem;
  height: 18.75rem;
  margin: 1.5rem;
  background-color: #424242;
  color: white;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  position: relative;

  .x-icon {
    position: absolute;
    right: 0;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    img {
      width: 20px;
      height: 20px;
      background-color: white;
    }
  }

  .link-image {
    border-radius: 5px;
    height: 6.25rem;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    width: 93%;
    margin: 6px auto;
  }
  .info {
    padding: 0.5rem;

    h1 {
      font-size: 15px;
    }

    a {
      font-size: 12px;
      color: white;
      word-break: break-word;
    }
  }
}
