<section class="container">
  <app-input-card
    [linkControl]="form.get('link')"
    (addLinkEmt)="onLinkSubmit()"
  ></app-input-card>
  <!-- List section -->
  <!-- Error message : displays id Url does not exist -->
  <span class="url-warning" [ngClass]="{ show: urlExists === false }">
    The Url does not exist. Try again</span
  >
  <article class="list-area">
    <app-link-detail-card
      *ngFor="let link of links$ | async"
      [link]="link"
    ></app-link-detail-card>
  </article>
</section>
