<section class="container">
  <app-input-card
    [linkControl]="form.get('link')"
    [isEditLinkOn]="!!editedLink"
    (addLinkEmt)="onLinkSubmit()"
    (editLinkEmt)="onLinkEditSubmit()"
  ></app-input-card>
  <!-- List section -->
  <!-- Error message : displays id Url does not exist -->
  <span class="url-warning" [ngClass]="{ show: urlExists === false }">
    The Url does not exist. Try again</span
  >
  <article class="list-area">
    <app-link-detail-card
      *ngFor="
        let link of links | paginate: { itemsPerPage: 20, currentPage: p }
      "
      [link]="link"
      [showEditBtns]="canEditLinks"
      (deleteLinkEmt)="onDeleteLink(link)"
      (editLinkEmt)="onEditLink(link)"
    ></app-link-detail-card>
  </article>
  <pagination-controls
    class="pagination-menu"
    (pageChange)="p = $event"
    maxSize="9"
    directionLinks="true"
    previousLabel="Prev."
    responsive="true"
  ></pagination-controls>
</section>
