.app-header {
  background-color: #e91e63;
  height: 56px;
  padding: 16px;

  span {
    font-size: 30px;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-left: 15px;
  }
}
