<!-- form section -->
<mat-card class="input-card">
  <mat-card-header>
    <mat-card-title>Save your Links easy!</mat-card-title>
  </mat-card-header>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card-content>
    <!--  Link input field -->
    <mat-form-field appearance="outline">
      <mat-label>Link</mat-label>
      <textarea matInput [formControl]="linkControl"></textarea>
      <!-- Errors - Invalid Link -->
      <mat-error
        *ngIf="
          linkControl.hasError('invalidLink') &&
          !linkControl.hasError('required')
        "
      >
        Invalid Link
      </mat-error>
      <!-- Errors - Required Link -->
      <mat-error *ngIf="linkControl.hasError('required')">
        Please insert a link
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <!-- Submit Button -->
    <button mat-button *ngIf="!isEditLinkOn" (click)="addLinkEmt.emit()">
      Add Link
    </button>
    <button mat-button *ngIf="isEditLinkOn" (click)="editLinkEmt.emit()">
      Edit Link
    </button>
  </mat-card-actions>
</mat-card>
